@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.container {
  height: 100dvh;
  width: 100%;
  background-color: #623aba;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.right {
  height: 100%;
  width: 56.7%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .firstSmallCircle {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 15px;
    left: 36px;
    background-color: #f2ae30;
    border-radius: 100%;
  }

  .secondSmallCircle {
    position: absolute;
    height: 25px;
    width: 25px;
    bottom: 26px;
    right: 26px;
    background-color: #f2ae30;
    border-radius: 100%;
  }

  .firstBigCircle {
    height: 195px;
    width: 195px;
    border-radius: 100%;
    background-color: #804bf233;
    position: absolute;
    left: -85px;
    bottom: -85px;
    display: flex;
    align-items: center;
    justify-content: center;

    aside {
      height: 140px;
      width: 140px;
      border-radius: 100%;
      background-color: white;
    }
  }

  .secondBigCircle {
    height: 195px;
    width: 195px;
    border-radius: 100%;
    background-color: #804bf233;
    position: absolute;
    right: -110px;
    top: -39px;
    display: flex;
    align-items: center;
    justify-content: center;

    aside {
      height: 140px;
      width: 140px;
      border-radius: 100%;
      background-color: white;
    }
  }

  form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 17px;

    h4 {
      font-weight: 700;
      font-size: 34px;
      color: #623aba;
      text-align: center;
      font-family: "Inter", sans-serif;
    }

    main {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-family: "Montserrat", sans-serif;

      section {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 7px;

        label {
          font-weight: 400;
          font-size: 13px;
        }

        article {
          position: relative;

          nav {
            position: absolute;
            right: 15px;
            top: 30%;
          }
        }

        input {
          width: 100%;
          height: 40px;
          border-radius: 10px;
          border: 1px solid black;
          outline: none;
          font-size: 18px;
          background-color: white;
          padding: 25px 10px;
        }

        small {
          font-weight: 400;
          font-size: 12px;
          color: red;
        }
      }
    }

    button {
      height: 38px;
      color: white;
      /* width: 112px; */
      padding: 10px 20px;
      margin: 0 auto;
      border-radius: 5px;
      background-color: #764ad5;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      cursor: pointer;
      border: none;
      font-size: 18px;
      font-weight: 800;
      font-family: "Inter", sans-serif;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        transform: translateY(1px);
      }

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    @media screen and (max-width: 550px) {
      width: 80%;

      main {
        section {
          input {
            padding: 20px 10px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 850px) {
    width: 100%;
  }
}
